<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiChange" version="1.1.66" targetFramework="net48" />
  <package id="CodeInSanityTest" version="1.0.0" targetFramework="net48" />
  <package id="DriversDataSourceInterop" version="9.0.5" targetFramework="net48" />
  <package id="ixCore2.x" version="3.0.99" targetFramework="net48" />
  <package id="ixCore2.x.CodeGenerationUtilities" version="3.0.99" targetFramework="net48" />
  <package id="ixCore2.x.Controls" version="3.0.99" targetFramework="net48" />
  <package id="ixCore2.x.Ide" version="3.0.99" targetFramework="net48" />
  <package id="ixCore2.x.TestUtilities" version="3.0.99" targetFramework="net48" />
  <package id="NUnit" version="3.13.2" targetFramework="net48" />
  <package id="NUnit.Console" version="3.16.0" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.16.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.7.1" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.9.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.7.0" targetFramework="net48" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net48" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.9.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net48" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net472" />
  <package id="Storage.Api" version="1.0.0" targetFramework="net48" />
</packages>